.post-container {
    border-radius: 15px;
  
    background-color: #FFFFFF;
    margin-top: 10px;
    padding: 0px 24px 12px 24px;
  }
  
  .post-img {
      margin-top: 30px;
      margin-bottom: 12px;
      width: 100%;
  }
  
  .post-content {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  
    color: #000000;
  }
  
  .profile-picture {
    border-radius: 80px;
    width: 44px;
    height: 44px;
  }
  
  .username {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
  
  
    color: #000000;
  }
  
  .title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
  
    color: rgba(0, 0, 0, 0.46);
  }
  
  
  .comment {
    width: 100%;
    height: 42px;
    border-radius: 20px;
    border: 0;
    padding: 20px;
  }
  
  .btn {
    border: none;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: transparent;
  }
  
  .box {
    display: flex;
    height: 26px;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  
  .box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
        
  .box-3 {
    display: flex;
    max-width: 593px;
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
  }