<div *ngIf="user" class="container">
    <app-navbar></app-navbar>
    <div class="profile-header">
        <img src="https://pbs.twimg.com/profile_images/1252331764653137920/uQbyrBz__400x400.jpg" alt="Profile Image"
            class="profile-img">
        <span class="name">{{username}}</span>
        <span class="tag-1">Admin</span>
        <span class="tag-2">Pro</span>
        <span class="desc">Very good and awesome web dev</span>
        <span class="events">Events: {{eventCount}}</span>
        <span class="posts">Posts: {{postCount}}</span>
        <span class="location">Neosho MO, United States</span>
        <img src="assets/images/icons8-facebook.svg" alt="" class="fb">
        <img src="assets/images/icons8-twitter.svg" alt="" class="twitter">
        <img src="assets/images/icons8-instagram.svg" alt="" class="instagram">
        <img src="assets/images/icons8-linkedin.svg" alt="" class="linkedin">
        <img src="assets/images/pin-svgrepo-com.svg" alt="" class="pinpoint">
    </div>

    <h4 class="events-h4">Events</h4>
    <div class="event-container">
        <div *ngFor="let event of events; let i = index">
            <div *ngIf="i === eventEditValue; else content">
                <form>
                    <input type="text" placeholder="Change Image" #editImage>
                    <input type="text" placeholder="Change Title" #editTitle>
                    <input type="text" placeholder="Change Description" #editDescription>
                    <input type="text" placeholder="Change Start Date" #editStartDate>
                    <input type="text" placeholder="Change End Date" #editEndDate>
                    <input type="text" placeholder="Change Location" #editLocation>
                    <input type="text" placeholder="Change Spots Available" #editSpots>
                    <button (click)="eventEditValue = null" type="button">Cancel</button>
                    <button type="button"
                        (click)="updateEvent(editTitle.value, editDescription.value, editImage.value, editStartDate.value, editEndDate.value, editLocation.value, editSpots.value ,event.id)">Save</button>
                </form>
            </div>
            <ng-template #content>
                <span>{{event.title}}</span>
                <span>{{event.description}}</span>
                <span>{{event.startDate}}</span>
                <span>{{event.endDate}}</span>
                <span>{{event.location}}</span>
                <span>{{event.spotsAvailable}}</span>
                <button (click)="eventEditValue = i">Edit</button>
                <button class="btn btn-danger" (click)="deleteEvent(event.id)">Delete</button>
                <button class="join-btn">Join</button>
            </ng-template>
        </div>
    </div>
    <div class="mutual-friends">
        <h3>Mutual Friends</h3>
        <ul class="people_list">
            <li>
                <img src="https://pbs.twimg.com/media/FepfX_OXkAEvFmZ.jpg" alt="" class="mt-profile-img">
                <span class="host_name">Andre Kae</span>
                <span class="description-1">Back End Engineer</span>
                <button class="connect-btn">Connect</button>
            </li>
            <li>
                <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/164/493/b8b.jpg" alt=""
                    class="mt-profile-img">
                <span class="host_name">Drizzy Drake</span>
                <span class="description-2">Cloud Engineer</span>
                <button class="connect-btn">Connect</button>
            </li>
            <li>
                <img src="https://pbs.twimg.com/profile_images/1252331764653137920/uQbyrBz__400x400.jpg" alt=""
                    class="mt-profile-img">
                <span class="host_name">Riley Conway</span>
                <span class="description-3">Full Stack Dev</span>
                <button class="connect-btn">Connect</button>
            </li>
            <hr>
            <span class="see_all">See All</span>
        </ul>
    </div>
    <h4 class="post-h4">Posts</h4>
    <div *ngFor="let post of posts; let i = index" class="post-container">
            <app-post [post]="post" [i]="i"></app-post>
        <!-- <div class="post-container">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    ...
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="postEditValue = i">Edit</a></li>
                    <li><a class="dropdown-item" (click)="deletePost(post.id)">Delete</a></li>
                </ul>
            </div>
            <span class="post-content">{{post.content}}</span>
            <img class="post-img" src="{{post.image_path}}">
            <span class="title">Full Stack Dev</span>
            <span class="username">{{username}}</span>
            <img class="profile-picture"
                src="https://www.jokesforfunny.com/wp-content/uploads/2021/06/0596bdb89b60fe771acd2f5972a9d3e3-905x1200.jpg"
                alt="profile picture">
            <input type="text" placeholder="Add Comment.." class="comment">
            <img src="assets/images/uiw_like-o.svg" alt="" class="like">
            <img src="assets/images/Chat.svg" alt="" class="chat">
            <img src="assets/images/Bookmark.svg" alt="" class="bookmark">
        </div> -->
    </div>
</div>