.container {
    margin-left: 0;
}

.container-2 {
    display: flex;
    gap: 5%;
    margin-top: 2%;
}

.col-left {
    width: 22%;
    position: relative;
  }
  
  .col-mid {
    width: 46%;
  }
  
  .col-right {
    width: 22%;
    position: relative;
  }

.profile-header {
    width: 100vw;
    height: 250px;
    display: flex;

    background-color: aliceblue;
}

.profile-img {
    border-radius: 90px;
    height: 200px;
    width: 200px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.tag-1 {
    display: flex;
    font-size: 12px;
    right: 40px;
    border: 1px solid black;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    justify-content: center;
    font-size: 12px;
}

.tag-2 {
    display: flex;
    border: 1px solid black;
    height: 20px;
    width: 35px;
    border-radius: 10px;
    justify-content: center;
    font-size: 12px;
}

.events {
        display: flex;
        border: 1px solid black;
        align-items: center;
        height: 80px;
        width: 150px;
        justify-content: center;

        font-weight: bold;
}

.posts {
    border: 1px solid black;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    height: 80px;
    
    font-weight: bold;
}

.location {
    display: flex;
    height: 60px;
}

.fb {
    width: 30px;
    height: 30px;
}

.twitter {
    width: 30px;
    height: 30px;
}

.linkedin {
    width: 30px;
    height: 30px;
}

.instagram {
    width: 30px;
    height: 30px;
}

.pinpoint {
    height: 20px;
    width: 20px;
    display: flex;
}

.row-container {
    margin-left: 250px;
}

.event-container {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 20px;
}

.mutual-friends {
    border: 1px solid black;
    border-radius: 20px;
    width: 278px;
    height: 306px;
    background-color: lightgrey;
    bottom: 125px;
}

.join-btn {
    height: 32px;
    width: 64.93px;
    border-radius: 8px;
    border: 1px solid #0C4195;
    background: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #00ACFF;
}

.event-item {
    border-bottom: 1px solid white;
}

.container h3 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
padding-top: 24px;
padding-left: 83px;
}

.people_list {
    list-style: none;
}

.host_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.description-1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.description-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.description-3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.connect-btn {
    width: 64.93px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #0C4195;
    background: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #00ACFF;

}

.mt-profile-img {
    width: 36.52px;
    height: 40px;
    border-radius: 16px;
}

.mutual-friends hr {
    margin: 4px 0px 0px -33px;
}

.see_all {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #00ACFF;
    margin-left: 83px;
} 

.post-container {
    background-color: lightgrey;
    border-radius: 20px;
}

.post-img {
    max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 200px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  
  .post-content {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  
    color: #000000;
  }

  .profile-picture {
    border-radius: 80px;
    width: 44px;
    height: 44px;
  }
  
  .username {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  
  
    color: #000000;
  }
  
  .title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;  
    line-height: 12px;  

    color: rgba(0, 0, 0, 0.46);
  }

  .comment {
    width: 518px;
    height: 42px;
    border-radius: 20px;
    border: 0;
  }
  
