.container {
    display: flex;
}

body {
    background-color: #f6f6f6;
}

.container-fluid {
    background-color: white;
}

.search-bar {
    border-radius: 18px;
    background-color: #f6f6f6;
}

.up {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    border-radius: 25px;
    border-radius: 3px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    height: 40px;

    background: #c00;
    color: white;
    background: #ffa842;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;
    color: black;
    /* font-family: 'Nunito', sans-serif; */
    margin-right: 5px;
}

ul.icons-ul {
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: space-between;
}

.nav-item {
    padding-top: 24px;
    margin: 0px 65px 0px 0px;
}

.search-bar {
    border: 0;
    border-radius: 0;
}

form input {
    flex: 1;
    border: none;
    outline: none;
}

form button {
    background: tomato;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.col-left {
    width: 18%;
}

.stats {
    width: 278px;
    height: 115px;
    margin-left: 12px;
    margin-top: 62px;
    border-radius: 16px;
    margin-left: 2px;


    background: #F6F6;
}

.stats img {
    width: 44px;
    height: 44px;
    border-radius: 20px;
    margin-left: 12px;
    margin-top: 9px;
}

.stats_username {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    position: relative;
    margin-left: 65px;
    bottom: 25px;
}

.stats_description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: rgba(0, 0, 0, 0.46);
    position: relative;
    margin-left: 65px;
    bottom: 37px;
}

.stats hr {
    position: relative;
    bottom: 90px;
}

.my_posts {
    width: 58px;
    height: 12px;
        position: relative;
        margin-left: 200px;
        bottom: 88px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: blue;
}

.my_events {
    width: 58px;
    height: 12px;
    position: relative;
    margin-left: 200px;
    bottom: 97px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: blue;
}

.hashtags {
    margin-top: 58px;
    background: lightblue;
    width: 278px;
    height: 188px;
}

.hashtag_list {
    display: flex;
    gap: 10px;
}

.hashtags h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
        padding-top: 17.74px;
        padding-left: 28.76px;

}

.hashtags li {
    background: lightgray;
    width: 61.35px;
    height: 22.7px;
    font-size: 12px;
    text-align: center;
    line-height: 150%;
    display: inline-block;
    border-radius: 6px;
}

.hashtags hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
}
