.event-container {
    margin-left: 47px;
}

.event-container button {
    display: block;
    width: 168px;
    height: 74px;
    border: none;
    background: lavender;
    margin-bottom: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 67px;
    text-align: center;
    color: #FFFFFF;
}

.title {
    margin-right: 90px;
}

.start-date {
    margin-right: 7px;
}

.sdt-input {
    margin-top: 10px;
}

.label {
    margin-right: 15px;
    margin-top: 10px;
}

.edt-input {    
    margin-top: 10px;
}

.loc-inp {
    margin-right: 90px;
    margin-top: 10px;
}