<div class="container">
    <h2>People You May Know</h2>
    <ul class="people_list">
        <li>
            <img src="https://pbs.twimg.com/media/FepfX_OXkAEvFmZ.jpg" alt="" class="profile-img">
            <span class="host_name">Andre Kae</span>
            <span class="description-1">Back End Engineer</span>
            <button class="join-btn">Connect</button>
        </li>
        <li>
            <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/164/493/b8b.jpg" alt="" class="profile-img">
            <span class="host_name">Drizzy Drake</span>
            <span class="description-2">Cloud Engineer</span>
            <button class="join-btn">Connect</button>
        </li>
        <li>
            <img src="https://pbs.twimg.com/profile_images/1252331764653137920/uQbyrBz__400x400.jpg" alt="" class="profile-img">
            <span class="host_name">Riley Conway</span>
            <span class="description-3">Full Stack Dev</span>
            <button class="join-btn">Connect</button>
        </li>
        <hr>
        <span class="see_all">See All</span>
    </ul>
</div>