<div class="container">
    <h2>People You May Know</h2>
    <ul class="people_list">
        <li>
            <div class="people">
                <img src="https://pbs.twimg.com/media/FepfX_OXkAEvFmZ.jpg" alt="" class="profile-img">
                <span class="host_name">Andre Kae</span>
                <button class="join-btn">Connect</button>
            </div>
        </li>
        <li>
            <div  class="people">
                <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/164/493/b8b.jpg" alt="" class="profile-img">
                <span class="host_name">Drizzy Drake</span>
                <button class="join-btn">Connect</button>
            </div>
        </li>
        <li style="margin-bottom: 10px;">
            <div class="people">
                <img src="https://pbs.twimg.com/profile_images/1252331764653137920/uQbyrBz__400x400.jpg" alt="" class="profile-img">
                <span class="host_name">Riley Conway</span>
                <button class="join-btn">Connect</button>
            </div>
        </li>
        <hr>
        <span class="see_all">See All</span>
    </ul>
</div>