<div class="bounce-1 ellipse-lg"></div>
<div class="bounce-1 ellipse-lg-md-1"></div>
<div class="bounce-1 ellipse-lg-md-2"></div>
<div class="bounce-2 ellipse-dg-md-1"></div>
<div class="bounce-2 ellipse-dg-md-2"></div>
<div class="bounce-2 ellipse-dg-sm-1"></div>

<h1>Sign Up</h1>
<div class="signup-prompt">First Create Your Account</div>
<form class="signup-form">
    <input class="signup-input-fn" type="text" placeholder="Full Name" required>
    <input class="signup-input-email" type="text" placeholder="Email" email required>
    <input class="signup-input-password" type="text" placeholder="Password" required>
    <input class="signup-input-password-confirm" type="text" placeholder="Confirm Password" required>
</form>
<button class="btn-action">SIGN UP</button>
<div class="active_usr">Already have an account? <a href="" class="redir_login">Login</a>
</div>
<a class="skip" href="">Skip now--></a>
