<div class="ellipse-lg"></div>
<div class="ellipse-lg-md-1"></div>
<div class="ellipse-lg-md-2"></div>
<div class="ellipse-dg-md-1"></div>
<div class="ellipse-dg-md-2"></div>
<div class="ellipse-dg-sm-1"></div>

<h1>Sign Up</h1>
<div class="div1">First Create Your Account</div>
<form>
    <input class="signup-input-fn" type="text" placeholder="Full Name">
    <input class="signup-input-email" type="text" placeholder="Email">
    <input class="signup-input-password" type="text" placeholder="Password">
    <input class="signup-input-password-confirm" type="text" placeholder="Confirm Password">
</form>
<button>SIGN UP</button>
<div>Already have an account? <a href="">Login</a></div>
<div>Skip now --></div>