<div class="post-event">
    <div class="row" style="box-shadow: 0px 0px 1px;
    border-radius: 10px 10px 0px 0px;">
        <div class="col-2" style="border-radius: 10px 0px 0px 0px; background-color: white;">
            <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg"
                alt="" class="profile-img" />
        </div>
        <div class="col-10">
            <input type="text" placeholder="Write Something..." class="text-input" name="search" #box id="text-input" [(ngModel)]="displayVal"/>
        </div>
    </div>
    <div class="row" style="overflow: hidden;">
        <div class="col-2" style="border-radius: 0px 10px 10px;">
            <div>
                <img src="/assets/images/Images.svg" alt="" class="photo-img" />
            </div>
        </div>
        <div class="col-10">
            <div class="row" >
                <div class="col-10">
                    <input type="text" placeholder="Add Image Path" class="photo-input" #imageBox id="image-input" [(ngModel)]="imageVal" />
                </div>
                <div class="col-2" style="background-color: white; border-radius: 10px;">
                    <button class="event-submit" (click)="createPost(box.value, imageBox.value)">
                        <img src="assets/images/Send.svg" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>