
.col-mid {
    width: 46%;
    display: flex;
}

.text-input {
    width: 100%;
    height: 107px;
    border: none;
    background: white;
    border-radius: 10px 10px 0px 0px;
    padding-left: 70px;
    outline: none;
}

.photo-input {
    max-width: 493px;
    max-height: 70px;
    height: 70px;
    width:100%;
    border-radius: 0px 0px 0px 10px;
    border: none;
    background: lightsalmon;
    padding-left: 70px;
}

.event-submit {
    width: 77px;
    height: 70px;
    border-radius: 0px 0px 10px 0px;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);
}

.post-event img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

 .photo-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.placeholder { 
    padding-left: 20px;
}

input#search {
    background-image: url('/assets/images/Search.svg');
}

.post-container {
    max-width: 570px;
    max-height: 518px;
    width:100%;
    background: red;
    border-radius: 20px;
    margin-top: 10px;
}

.description {
    margin-top: 74px;
    margin-left: 34px;
}

.post-img {
    width: 44px;
    height: 44px;
}

.newPost {
    width: 570px;
    display: flex;
    height: 107px;
    margin-left: 600px;
}

.col-2 {
    padding: 0;
    background-color: lightsalmon;
}

.col-10 {
    padding: 0;
}
