.col-mid {
    width: 33%;
    display: flex;
}

.text-input {
    width: 570px;
    height: 107px;
    border: none;
    background: white;
    border-radius: 10px 10px 0px 0px;
    padding-left: 70px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);
    outline: none;
}

.photo-input {
    width: 493px;
    height: 70px;
    border-radius: 0px 0px 0px 10px;
    border: none;
    background: lightsalmon;
    padding-left: 70px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);
}

.event-submit {
    width: 77px;
    height: 70px;
    border-radius: 0px 0px 10px 0px;
    border: none;
    position: relative;
    bottom: 70px;
    left: 493px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);
}

.post-event img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.post-event {
    margin-top: 38px;
}

 .photo-img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 12px;
    left: 115px;
    border-radius: 20px;
}

.profile-img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 33px;
    left: 115px;
    border-radius: 20px;
}

.placeholder { 
    padding-left: 20px;
}

input#search {
    background-image: url('/assets/images/Search.svg');
}

.post-container {
    width: 570px;
    height: 518px;

    position: relative;
    left: 98px;
    background: red;
    border-radius: 20px;
    bottom: 90px;

}

.description {
    margin-top: 74px;
    margin-left: 34px;
}

.post-img {
    width: 44px;
    height: 44px;
}

.newPost {
    width: 570px;
    display: flex;
    height: 107px;
    margin-left: 600px;
}