.ellipse-lg {
    position: absolute;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    top: -128px;
    left: -128px;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background: #e5e5e5;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

.ellipse-lg-md-1 {
    position: absolute;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    left: 114px;
    top: 48px;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background: #e9e9ed;
}

.ellipse-lg-md-2 {
    position: absolute;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    left: 233px;
    top: 63px;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background: #e9e9ed;
}

.ellipse-dg-md-1 {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 41px;
    top: 124px;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background: #727272;
}

.ellipse-dg-md-2 {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 223px;
    top: 53px;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background: #727272;
}

.ellipse-dg-sm-1 {
    position: absolute;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    left: 154px;
    top: 51px;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    background: #727272;
}

h1 {
    padding-top: 177px;

    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;

    color: black;
}

.div1 {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    text-align: center;

    color: #a8a6a7;
}

.signin-form {
    margin: 100px 43px 0px 43px;
}

input.ng-invalid.ng-touched{
    border: 2px solid red;
    border-radius: 10px;
  
  }

.signin-form input {
    display: block;
    width: 100%;
    padding-bottom: 16px;
    max-width: 418.1px;
    /* Center Input */
    margin: 0 auto;
}

.signin-input-email {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    border: none;
    border-bottom: 1px solid #A8A6A7;

    color: #a8a6a7;

}

.signin-input-password {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    border: 0;
    border-bottom: 1px solid #A8A6A7;

    color: #a8a6a7;

}

.btn-setup {
    margin: auto;
    width: 81.690140845%;
    max-width: 350px;
}

.btn-action {
    background: #222222;
    border-radius: 20px;
    color: white;

    width: 81.690140845%;
    margin: 30px 32px 0px 20px;

    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

.inactive_usr {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    margin-top: 16px;
}

.signin-options {
    max-width: 75px;
    max-height: 75px;
}

.google-icon {
    margin: auto;
    display: grid;
    place-items: center;
}

h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.1em;
    text-align: center;
    margin: 16px 0px 20px;
    border-bottom: 1px solid #a8a6a7;
}

h2 span {
    background: #fff;
    padding: 0 10px;
}

.forgot-pw {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #56CCF2;
    text-align: center;
    padding-left: 585px;
}

.skip {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    margin-top: 28px;
    text-align: center;

    color: #a8a6a7;
}

.signup {
    color: #56CCF2;
}

.signin-col-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-flex {
    min-height: 100vh;
}

@media(max-width: 992px) {
    .signin-col-2 {
        display: none;
    }
    
    .container-flex {
        display: block;
    }

}
@media(min-width: 992px) {
    .container-flex {
        display:flex;
    }

    .signin-col-1 {
        width: 50%;
    }

    .signin-col-2 {
        width: 50%;
    }
}