<div class="container">
    <h2>Upcoming Sports Events</h2>
    <ul class="people_list">
        <li>
            <img src="https://pbs.twimg.com/profile_images/1039923983125303296/PMzpIjB4_400x400.jpg" alt="" class="profile-img">
            <span class="host_name">Kyle Knauss</span>
            <span class="event-1">Pickup Basketball</span>
            <button class="join-btn">Join</button>
        </li>
        <li>
            <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/164/493/b8b.jpg" alt="" class="profile-img">
            <span class="host_name">Drizzy Drake</span>
            <span class="event-2">Soccer</span>
            <button class="join-btn">Join</button>
        </li>
        <li>
            <img src="https://i.kym-cdn.com/photos/images/newsfeed/002/164/493/b8b.jpg" alt="" class="profile-img">
            <span class="host_name">Riley Conway</span>
            <span class="event-3">Football</span>
            <button class="join-btn">Join</button>
        </li>
        <hr>
        <span class="see_all">See All</span>
    </ul>
</div>