.navbar-nav .active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
  }

.container {
  display: flex;
}

.container-fluid {
  background-color: white;
}

.col-left {
  width: 18%;
}

.post-container {
  width: 570px;
  height: 518px;
  position: relative;
  left: 100px;
  bottom: 50px;
  border-radius: 15px;
  text-align: center;


  background-color: lightgray;
}

.post-img {
  max-width: 300px;
  max-height: 300px;
}