<div *ngIf="user">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="col-left">
      <app-create-event></app-create-event>
      <app-stats></app-stats>
      <app-hashtags></app-hashtags>
    </div>
    <div class="col-mid">
      <app-create-post></app-create-post>
      <!-- List of posts -->
      <div *ngFor="let post of posts; let i = index">
        <!-- Edit -->
        <div class="post-container">

          <div *ngIf="i === postEditValue; else content">
            <form>
              <input type="text" placeholder="Change Image" #editImage value="{{post.image_path}}">
              <input type="text" placeholder="Change Content" #editContent value="{{post.content}}">
              <button (click)="postEditValue = null" type="button">Cancel</button>
              <button (click)="submitEdit(editContent.value, editImage.value, post.id)" type="button">Save</button>
            </form>
          </div>
          <!-- Display posts -->
          <ng-template #content>
            <div *ngIf="post.user_id === user.id">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" (click)="postEditValue = i">Edit</a></li>
                  <li><a class="dropdown-item" (click)="deletePost(post.id)">Delete</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <span>{{post.content}}</span>
            <img class="post-img" src="{{post.image_path}}">
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-right">
      <app-upcoming-events></app-upcoming-events>
      <app-pymk></app-pymk>
    </div>
  </div>
</div>