.navbar-nav .active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}

.container {
  display: flex;
  gap: 5%;
}

.container-fluid {
  background-color: white;
}

.col-left {
  width: 22%;
}

.col-mid {
  width: 46%;
}

.col-right {
  width: 22%;
}

.post-container {
  border-radius: 15px;
  text-align: center;

  background-color: lightgray;
  margin-top: 10px;
}

.post-img {
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 100%;
}

.post-content {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

.profile-picture {
  border-radius: 80px;
  width: 44px;
  height: 44px;
}

.username {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;


  color: #000000;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: rgba(0, 0, 0, 0.46);
}

.dropdown {

}

.comment {
  position: relative;
  max-width: 518px;
  width: 100%;
  height: 42px;
  border-radius: 20px;
  border: 0;
}

.like {

}

.chat {

}

.bookmark {

}

.btn {
  border: none;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: transparent;
}

.box {
  max-width: 136px;
  display: flex;
  height: 26px;
  flex-wrap: wrap;
  flex-direction: column;
}

.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
      
