.navbar-nav .active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}

.container {
  display: flex;
  gap: 5%;
}

.container-fluid {
  background-color: white;
}

.col-left {
  width: 22%;
}

.col-mid {
  width: 46%;
}

.col-right {
  width: 22%;
}

.post-container {
  position: relative;
  left: 100px;
  bottom: 50px;
  border-radius: 15px;
  text-align: center;

  background-color: lightgray;
}

.post-img {
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
  margin-top: 30px;
  margin-bottom: 100px;
  top: 40px;
  position: relative;
  right: 110px;
}

.post-content {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  position: relative;
  right: 185px;
  bottom: 175px;

  color: #000000;
}

.profile-picture {
  border-radius: 80px;
  width: 44px;
  height: 44px;
  position: relative;
  right: 180px;
  bottom: 220px;
}

.username {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  position: relative;
  bottom: 226px;
  right: 40px;

  color: #000000;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  position: relative;
  bottom: 210px;
  left: 25px;

  color: rgba(0, 0, 0, 0.46);
}

.dropdown {
  position: relative;
  left: 250px;
  top: 20px;
}

.comment {
  position: relative;
  width: 518px;
  height: 42px;
  border-radius: 20px;
  border: 0;
  left: 26px;
  top: 15px;
}

.like {
  position: relative;
  right: 475px;
  bottom: 30px;
}

.chat {
  position: relative;
  right: 460px;
  bottom: 30px;
}

.bookmark {
  position: relative;
  left: 250px;
  bottom: 60px;
}

.btn {
  position: relative;
  top: 20px;
  left: 20px;
  border: none;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: transparent;
}
